---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ZsP0m1d1ECskNIGUgNymojp1YhuMT2RN&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 14 Jun 2022 20:33:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ZsP0m1d1ECskNIGUgNymojp1YhuMT2RN&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1207668371"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ZsP0m1d1ECskNIGUgNymojp1YhuMT2RN&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=599392577"}]}]}'
  recorded_at: Tue, 14 Jun 2022 20:33:05 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=62608eea0d5b3d1a3124f8c2d245715b&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655238786,"sunrise":1655206286,"sunset":1655260150,"temp":82.4,"feels_like":80.29,"pressure":1001,"humidity":23,"dew_point":40.93,"uvi":7.63,"clouds":11,"visibility":10000,"wind_speed":5.99,"wind_deg":298,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1655236800,"temp":82.4,"feels_like":80.19,"pressure":1001,"humidity":21,"dew_point":38.59,"uvi":9.3,"clouds":12,"visibility":10000,"wind_speed":11.65,"wind_deg":37,"wind_gust":18.25,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1655240400,"temp":82.4,"feels_like":80.29,"pressure":1001,"humidity":23,"dew_point":40.93,"uvi":7.63,"clouds":11,"visibility":10000,"wind_speed":11.5,"wind_deg":50,"wind_gust":22.77,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1655244000,"temp":82.78,"feels_like":80.44,"pressure":1001,"humidity":21,"dew_point":38.91,"uvi":4.75,"clouds":14,"visibility":10000,"wind_speed":10.83,"wind_deg":63,"wind_gust":21.09,"weather":[{"id":801,"m[...]
