---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?q=richmond,va
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.435 TT 0 0.462"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 9626,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL9313566W",
                    "type": "work",
                    "seed": [
                        "/books/OL10443419M",
                        "/works/OL9313566W",
                        "/authors/OL3361999A"
                    ],
                    "title": "Richmond, Va.",
                    "title_suggest": "Richmond, Va.",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10443419M"
                    ],
                    "publish_date": [
                        "July 1994"
                    ],
                    "publish_year": [
                        1994
                    ],
                    "first_publish_year": 1994,
                    "isbn": [
                        "9780528946059",
                        "0528946056"
                    ],
                    "last_modified_i": 1294780972,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Rand McNally"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL3361999A"
                    ],
                    "author_name": [
                        "Champion Map Corporation"
                    ],
                    "publisher_facet": [
                        "Rand McNally"
                    ],
                    "_version_": 1715097754279084035,
                    "author_facet": [
                        "OL3361999A Champion Map Corporation"
                    ]
                },
                {
                    "key": "/works/OL4437853W",
                    "type": "work",
                    "seed": [
                        "/books/OL10911034M",
                        "/works/OL4437853W",
                        "/authors/OL882946A"
                    ],
                    "title": "Richmond Va",
                    "title_suggest": "Richmond Va",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10911034M"
                    ],
                    "publish_date": [
                        "June 2005"
                    ],
                    "publish_year": [
                        2005
                    ],
                    "first_publish_year": 2005,
                    "oclc": [
                        "631002889"
                    ],
                    "isbn": [
                        "9780762545230",
                        "0762545232"
                    ],
                    "last_modified_i": 1303767238,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                   [...]
