---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ZsP0m1d1ECskNIGUgNymojp1YhuMT2RN&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 17:31:12 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ZsP0m1d1ECskNIGUgNymojp1YhuMT2RN&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=391885640"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=ZsP0m1d1ECskNIGUgNymojp1YhuMT2RN&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1182321234"}]}]}'
  recorded_at: Mon, 13 Jun 2022 17:31:12 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=62608eea0d5b3d1a3124f8c2d245715b&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655141472,"sunrise":1655119887,"sunset":1655173725,"temp":91.18,"feels_like":86.94,"pressure":996,"humidity":13,"dew_point":33.53,"uvi":10.02,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":242,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1655139600,"temp":90.64,"feels_like":86.45,"pressure":996,"humidity":11,"dew_point":29.35,"uvi":8.22,"clouds":0,"visibility":10000,"wind_speed":3.2,"wind_deg":339,"wind_gust":8.5,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1655143200,"temp":91.18,"feels_like":86.94,"pressure":996,"humidity":13,"dew_point":33.53,"uvi":10.02,"clouds":0,"visibility":10000,"wind_speed":6.26,"wind_deg":239,"wind_gust":15.73,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1655146800,"temp":91.92,"feels_like":87.53,"pressure":996,"humidity":11,"dew_point":30.22,"uvi":10.9,"clouds":0,"visibility":10000,"wind_speed":10.31,"wind_deg":241,"wind_gust":20.42,"weather":[{"id":800,"mai[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=ZsP0m1d1ECskNIGUgNymojp1YhuMT2RN&location=richmond,va
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 13 Jun 2022 17:31:12 GMT
      Reversegeocodetransactioncount:
      - '0'
      Statu[...]
[...]
