---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=es_6XTCIzm4bPjfydCasSFOU3gsm9tJG7tC3pF2opxY&orientation=landscape&query=denver,co,skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=es_6XTCIzm4bPjfydCasSFOU3gsm9tJG7tC3pF2opxY&orientation=landscape&page=1000&query=denver%2Cco%2Cskyline>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=es_6XTCIzm4bPjfydCasSFOU3gsm9tJG7tC3pF2opxY&orientation=landscape&page=2&query=denver%2Cco%2Cskyline>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"5c8111348ac22d9ab796739d4a5a6533"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":1000,"results":[{"id":"RCgHzFW7yxY","created_at":"2020-10-17T18:24:25-04:00","updated_at":"2022-06-11T20:14:55-04:00","promoted_at":null,"width":9083,"height":1702,"color":"#73c0d9","blur_hash":"LwHfbURlWBW=K-s,t6flx]aea}ay","description":"Downtown
        Denver from the Museum of Natural Science","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1602967689755-6bc05c2d3c5b?ixid=MnwzMzY1Mzh8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHwwfHx8MTY1NTA2MTI1Mw\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1602967689755-6bc05c2d3c5b?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzMzY1Mzh8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHwwfHx8MTY1NTA2MTI1Mw\u0026ixlib=rb-1.2.1\u0026q=80","regular":"https://images.unsplash.com/photo-1602967689755-6bc05c2d3c5b?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY1Mzh8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHwwfHx8MTY1NTA2MTI1Mw\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1602967689755-6bc05c2d3c5b?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY1Mzh8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHwwfHx8MTY1NTA2MTI1Mw\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1602967689755-6bc05c2d3c5b?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzMzY1Mzh8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHwwfHx8MTY1NTA2MTI1Mw\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1602967689755-6bc05c2d3c5b"},"links":{"self":"https://api.unsplash.com/photos/RCgHzFW7yxY","html":"https://unsplash.com/photos/RCgHzFW7yxY","download":"https://unsplash.com/photos/RCgHzFW7yxY/download?ixid=MnwzMzY1Mzh8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHwwfHx8MTY1NTA2MTI1Mw","download_location":"https://api.unsplash.com/photos/RCgHzFW7yxY/download?ixid=MnwzMzY1Mzh8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHwwfHx8MTY1NTA2MTI1Mw"},"categories":[],"likes":6,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"iReUjmhpLcw","updated_at":"2022-06-12T09:33:18-04:00","username":"acton_crawford","name":"Acton
        Crawford","first_name":"Acton","last_name":"Crawford","twitter_username":null,"portfolio_url":null,"bio":"I''m
        an amateur who likes to shoot just about everything that looks interesting.
        I want to get more experience with portraiture.  Attribution and donations
        are appreciated please and thank you.","location":"Aurora, CO, USA","links":{"self":"https://api.unsplash.com/users/acton_crawford","html":"https://unsplash.com/@acton_crawford","photos":"https://api.unsplash.com/users/acton_crawford/photos","likes":"https://api.unsplash.com/users/acton_crawford/likes","portfolio":"https://api.unsplash.com/users/acton_crawford/portfolio","following":"https://api.unsplash.com/users/acton_crawford/following","followers":"https://api.unsplash.com/users/acton_crawford/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1651019538846-fd870c86a88eimage?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1651019538846-fd870c86a88eimage?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1651019538846-fd870c86a88eimage?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":null,"total_collections":0,"total_likes":41,"total_photos":411,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":null,"portfolio_url":null,"twitter_username":null,"paypal_email":null}},"tags":[]},{"id":"WvQOndeu0N8","created_at":"2020-12-03T13:33:28-05:00","updated_at":"2022-06-12T05:16:05-04:00","promoted_at":null,"width":5469,"height":3074,"color":"#404073","blur_hash":"LKF$n{xpNaxvyGD*o$RO.9NGofoz","description":"Aerial
        day view of downtown Denver south","alt_description":"aerial view of city
        buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1607019869837-666aba66a257?ixid=MnwzMzY1Mzh8MHwxfHNlYXJjaHwyfHxkZW52ZXIlMkNjbyUyQ3NreWxpbmV8ZW58MHww[...]
