---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=62608eea0d5b3d1a3124f8c2d245715b&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655220056,"sunrise":1655206286,"sunset":1655260150,"temp":67.03,"feels_like":65.26,"pressure":1004,"humidity":39,"dew_point":41.29,"uvi":3.23,"clouds":3,"visibility":10000,"wind_speed":5.01,"wind_deg":79,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1655218800,"temp":67.03,"feels_like":65.26,"pressure":1004,"humidity":39,"dew_point":41.29,"uvi":3.23,"clouds":3,"visibility":10000,"wind_speed":5.06,"wind_deg":110,"wind_gust":5.3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1655222400,"temp":68.11,"feels_like":66.36,"pressure":1004,"humidity":37,"dew_point":40.89,"uvi":5.48,"clouds":4,"visibility":10000,"wind_speed":5.21,"wind_deg":91,"wind_gust":6.93,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1655226000,"temp":70.81,"feels_like":69.13,"pressure":1004,"humidity":33,"dew_point":40.32,"uvi":7.76,"clouds":12,"visibility":10000,"wind_speed":4.88,"wind_deg":41,"wind_gust":12.15,"weather":[{"id":801,"main"[...]
